<a href="https://colab.research.google.com/github/KWebb2625/Kathryn_INFO3020_Spring2020/blob/master/Assignment11_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Assignment 11-1
# 1. Use csv file 'ch02-data.csv', which stores a date and numbers.
# Write a series of functions that can sum the numbers by date
# and output the results into an excel file.
# The requirements are as follows:
#   1.1 Create a table in MySQL which has the same structure as
#   the csv file.
#   1.2 Read the csv file and import that data into MySQL
#   1.3 Use SQL to sum the numbers by date
#   1.4 Output the sum results into an excel file

import pymysql

db = 'pydb'
pydb = pymysql.connect("localhost", "root", "Info3020!!!!!", db)
dbcursor = pydb.cursor()


def create_table(name, name1, type1, name2, type2):
    sql = "CREATE TABLE {} ({} {}, {} {})".format(name, name1, type1, name2, type2)
    dbcursor.execute(sql)
    pydb.commit()
    sql = "show tables"
    dbcursor.execute(sql)


def import_from_csv(filename, tablename):
    sql = 'LOAD DATA LOCAL INFILE %s INTO TABLE {0} FIELDS TERMINATED BY ","' \
          ' IGNORE 1 LINES;'.format(tablename)
    dbcursor.execute(sql, filename)
    pydb.commit()


def sum_by_date(tablename, file_path):
    sql = "SELECT SUM(Num) AS Sum FROM {} GROUB BY 'DATE'".format(tablename)
    result = dbcursor.execute(sql)
    result.to_csv(file_path, encoding='utf-8', header=True)


create_table('dateANDnum', 'Date', 'Date', 'Num', 'Int')
import_from_csv("assign11-1-ch02-data.csv", 'dateandnum')
sum_by_date('dateandnum', 'sumdata.csv')

pydb.close()

In [0]:
# Assignment 11-1
# 2. Use the excel file named “catering_sale_all.xls”.
# It stores the sale numberes of several kind of food on one day.
# Write a function that can get the best selling food(foodname and sales)
# by the specific day. Use any method you wish.

import pandas as pd

myfile = 'assign11-1-catering_sale_all.xls'


def bestSeller(file):
    exceldata = pd.read_excel(file, header=0, index_col=0)

    new_data = exceldata.idxmax(axis=1)
    new_data = new_data.transpose()
    salemax = exceldata.max(axis=1)

    new_data = pd.concat([new_data, salemax.rename("Total Sales")], axis=1)

    return new_data

print(bestSeller(myfile))