<a href="https://colab.research.google.com/github/KWebb2625/Kathryn_INFO3020_Spring2020/blob/master/Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Kathryn Webb
# 1: write a function which could print a string content. The requirements are as follows (20’)
# (1) the function accepts one argument which is  printed as the string  content (10’)
# (2) the value of the argument should be provided in command line (10’)


def returnstring(str):
    print(str)

mystring = input()
returnstring(mystring)

Hello World!
Hello World!

In [2]:
# Kathryn Webb
# 2: Write a program that could sum all the even digit in the scope of 1-1000. The requirements are as follows. (20’)
# (1) use the function of range to express the scope of 1-1000 (10’)
# (2) use for loop to deal with the scope (10’)
# The result should be “250500”.


def sumevendigits(num):
    sum = 0
    for x in range(1, num + 1):
        if x % 2 == 0:
            sum += x
    return sum

myrange = input()
myrange = int(myrange)
print(sumevendigits(myrange))

1000
250500

In [3]:
# Kathryn Webb
# 3: Given a number list which is numbers=[12,10,3,2,[6,[7,8,9],19,21],21].
# Write a function that can get the product of all the numbers in the list.
# The requirements are as follows. (20’)
# (1) write the function by recursion (10’)
# (2) the “numbers” should be an argument of the function (5’)
# (3) the function returns a number (5’)
# The result should be “18243429120”.


def recursive_product(nested_number_list):
    product = 1
    for elem in nested_number_list:
        if type(elem) is list:
            product = recursive_product(elem) * product
        else:
            product = elem * product
    return product


numlist = [12,10,3,2,[6,[7,8,9],19,21],21]
print(recursive_product(numlist))

18243429120

In [0]:
# Kathryn Webb
# 4: Given a matrix which is matrix=[[23,43,12],[32,12,52],[15,35,52],[19,28,56]].
# Write a function to complete the following task. (30’)
# (1) turn the matrix (List) into an array (5’)
# (2) use mask to set all the value above 20 to 0 (15’)
# (3) output the result into a txt file (10’)

import numpy as np


def matrixToFile(matrix):
    a = np.array(matrix)
    cutoff = 20
    a[a > cutoff] = 0
    new_a = np.array2string(a)
    with open('array.txt', 'w') as myfile:
        myfile.write(new_a)


matrix = [[23, 43, 12],
          [32, 12, 52],
          [15, 35, 52],
          [19, 28, 56]]
matrixToFile(matrix)

In [6]:
# Kathryn Webb
# 5: Given a number list which is numbers=[1,3,2,4,2,3,2,2,3,2,2,4,2,32,3,2,4,2,3,5,3,2,4,2,2,4,2,2,4,2,2,3,1,3,2,3].
# Write a function to complete  the following task. (30’)
# (1) count the frequency of each different number in numbers list (10’)
# (2) store the result into dictionary (10’)
# (3) print it out (10’)

def getDuplicatesWithCount(listOfElems):
    dictOfElems = dict()

    for elem in listOfElems:

        if elem in dictOfElems:
            dictOfElems[elem] += 1
        else:
            dictOfElems[elem] = 1

    dictOfElems = {key: value for key, value in dictOfElems.items()}

    return dictOfElems

numbers = [1,3,2,4,2,3,2,2,3,2,2,4,2,32,3,2,4,2,3,5,3,2,4,2,2,4,2,2,4,2,2,3,1,3,2,3]
listOfElems = map(str, numbers)

dictOfElems = getDuplicatesWithCount(listOfElems)
print("Word       Count")
print("================")
for key, value in dictOfElems.items():
     print(key , "        ", value)

Word       Count
================
1          2
3          9
2          17
4          6
32          1
5          1

In [8]:
# Kathryn Webb
# 6: Create a class Point which represent a point in two dimensions.
# It has two properties x and y. The detail requirements are as follows.
# (1) When creating an object of Point, we can assign the value to x and y.
#     If we don’t provide the value, they will be 0. (10’)
# (2) If we print the object of Point directly, it will output the value of x and y.
# (3) if we create two different objects of Point which are p1 and p2, (p1+p2) will
#     get a new Point whose x is (p1.x+p2.x) and y is (p1.y+p2.y).
# Suppose p1(1,3) and p2(3.,4)


class Point:
    def __init__(self, x=0, y=0):
        self.x=x
        self.y=y

    def __str__(self):
        return "The Point is ({0},{1})".format(self.x, self.y)

    def __add__(self, target):
        return Point(self.x + target.x, self.y + target.y)


p1 = Point(1, 3)
p2 = Point(3, 4)
p3 = Point()

print(p1)
print(p2)
print(p3)
print(p1 + p2)

The Point is (1,3)
The Point is (3,4)
The Point is (0,0)
The Point is (4,7)

In [0]:
# Kathryn Webb
# 7: Given an excel file named “catering_sale_all.xls”. It stores the sale situation of several
# kinds of food on one month. Write a program that could print the total sales volume of the month
# by a specific food. The detail requirements are follows.(50’)
# (1) when running the program, it will list all the food with a fixed number in the excel (10’)
# (2) it notify a user to specific one number (10’)
# (3) it print the specific food’s total sales volume of one month (10’)
# (4) after print the result, a user could switch to print another food’s sales volume (10’)
# (5) when the user select exit, the program exits (10’)

import pandas as pd


filename = 'catering_sale_all.xls'
data = pd.read_excel(filename)
nameslist = list(data.columns)
print(nameslist)


def menu():
    option = 1
    while option != 0:
        print('0: Exit\n'
              '1: Chicken feet\n'
              '2: Steamed Dumplings\n'
              '3: Ribs\n'
              '4: Full Chicken\n'
              '5: Stuffed Bun\n'
              '6: Flowering Cabbage\n'
              '7: Doufu\n'
              '8: Chive Dumplings\n'
              '9: Pudding\n'
              '10: Original Cabbage\n'
              'Select an Option:')
        option = int(input())
        if option == 0:
            break
        sum = data[nameslist[option]].sum()
        print(sum)
        print('The Total sale of {} is {}'.format(nameslist[option], sum))


menu()

In [0]:
# Kathryn Webb
# 8. Given a sql file named “world.sql” which are exported from MySQL by MySQL GUI Tools
# (For Mac: MySQL Workbench, For Windows: MySQL Administrator).Write a series of functions
# to complete the following tasks. (50’)
# (1) import the data into MySQL — this is an operation not program (10’)
# (2) write a function to connect to the ”world” schema by using of “pymysql” module (10’)
# (3) For the “country” table, write a function to retrieve the average life expectancy of every continent (20’)
# (4) print the result (10’)

import pandas as pd
import pymysql


def connect():
    db = 'world'
    pydb = pymysql.connect("localhost", "root", "Info3020!!!!!", db)
    return pydb


def get_data():
    sql = "Select Continent, AVG(LifeExpectancy) as 'Avg Life Expectancy' from Country group by Continent"
    df = pd.read_sql(sql, connect())
    print(df)

get_data()

In [0]:
# Kathryn Webb
# 9. Using the “world” schema imported in Question 8. For the “country” table,
#    write a series of functions to complete the following tasks. (50’)
# (1) write a function to connect to the ”world” schema by using of “pymysql” module (10’)
# (2) write a function to calculate the total population by every continent (20’)
# (3) use pie plot to display the result. (20’)

from pylab import *
import pandas as pd
import pymysql


def connect():
    db = 'world'
    pydb = pymysql.connect("localhost", "root", "Info3020!!!!!", db)
    return pydb


def get_data():
    sql = "Select SUM(Population) from Country group by Continent"
    df = pd.read_sql(sql, connect())
    mylist = df.values.tolist()
    return mylist


def get_continents():
    sql = "Select Continent from Country group by Continent"
    df = pd.read_sql(sql, connect())
    mylist = df.values.tolist()
    return mylist


def make_pie_chart():
    figure(1, figsize=(6, 6))
    x = get_data()
    labels = get_continents()
    explode = (0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0)
    pie(x, explode=explode, labels=labels, autopct='%1.1f%%', startangle=67)
    title("Total Population by Continent")
    show()

make_pie_chart()

In [0]:
# Kathryn Webb
# 10. Given a csv file named “energy-production.csv”. It stores energy production of
# one area between 1973 and 2014. Write a series of functions to complete the following tasks. (50’)
# (1) use “panda” to load the “energy-production.csv” file (10’)
# (2) Write a function which accept year (1973-2014) as argument to retrieve the specific
#     year’s energy production in detail. (20’)
# (3) use bar plot to display the retrieved result. (20’)

import pandas as pd
import matplotlib.pyplot as plt


def loadfile():
    filename = 'energy-production.csv'
    data = pd.read_csv(filename, index_col=0)
    data.set_index(['Year'], inplace=True)
    return data


def getyeardata():
    year = input("Choose a year between 1973 and 2014:")
    year = int(year)
    mydata = loadfile()
    return mydata.loc[year]


def make_pie_chart():
    figure, ax = plt.subplots(figsize=(12, 12))
    x = getyeardata()
    info = loadfile()
    labels = info.columns.tolist()
    explode = (0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1)
    ax.pie(x, explode= explode, labels=labels, autopct='%1.1f%%', startangle=0, labeldistance=None)
    plt.title("Energy Production")
    ax.legend(labels, loc='best', bbox_to_anchor=(1, 1))
    plt.tight_layout()
    plt.show()


make_pie_chart()